# ignore everything
*

# still search in folders though
!*/

# files in root folder
!.gitignore

!configure.sh
!get_daemon.sh
!get_directory.sh
!pull_containers.sh
!read_config.sh
!repository.sh
!run_daemon.sh
!run_pipeline.sh
!setup_docker.sh

!alignment/align.sh
!alignment/get_container.sh

!bam_to_bcf/bam_to_bcf.sh

!bam_to_fasta_cons/bam_to_fasta.sh
!bam_to_fasta_cons/get_container.sh

!bam_to_fasta_reads/make_fasta.sh

!bam_tools/filter_bam.sh

!bcf_to_cons/convert.sh

!biomart/
!biomart/Dockerfile
!biomart/fetch_biomart.sh
!biomart/query.xml
!biomart/fix_duplicate_header.awk
!biomart/fix_duplicate_header.sh
!biomart/fix_no_data_error.sh
!biomart/fix_short_sequence.sh
!biomart/get_container.sh

!cons_to_fasta/cut_all.sh
!cons_to_fasta/cut_simple_docker.sh
!cons_to_fasta/liftover.sh

!gene_to_transcript/gene_to_transcript.sh
!gene_to_transcript/gene_to_transcript_all.sh

!make_filter/filter.py
!make_filter/gff_to_bed.sh
!make_filter/help.sh
!make_filter/make_filter.sh

!merge/merge.sh

!pipelines/generate_fasta_bedtools.sh
!pipelines/generate_fasta_biomart.sh
!pipelines/generate_fasta_pprsg.sh
!pipelines/make_dataset.sh
!pipelines/merge_balanced.sh

!reference/get_annotation.sh
!reference/get_reference.sh
!reference/gff_to_bed12.sh

!tools/change_prefix.sh
!tools/get_covindex.sh
